.wrapper-cart {
  @apply mr-20;
  .heading {
    @apply flex items-center;

    .badge {
      @apply mr-4 flex h-5 w-5 items-center justify-center rounded-full bg-red p-1  text-sm text-white;
    }
    .text {
      @apply tracking-widest;
    }

    .bag {
      color: black;
      opacity: 1;
    }

    .bag:hover {
      color: black;
      opacity: 0.3;
    }
  }
}

.cart {
  .item {
    @apply mb-8 flex items-center gap-4;
  }
  .name {
    @apply font-semibold tracking-widest;
  }
  .price {
    @apply mt-1 text-sm text-gray;
  }

  .variation {
    @apply mt-1  text-sm text-gray;
  }
}

.footer {
  > div:first-child {
    @apply text-sm text-light-gray;
  }
  > div:last-child {
    @apply text-lg font-semibold;
  }
}
