.carousel {
  @apply grid grid-cols-4 gap-8;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 90px;
}
.item {
  @apply mb-8 rounded-3xl  p-5 pt-2;
  background: #1f1c2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #928dab, #1f1c2c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #09022c,
    #000211
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .heading {
    @apply text-left text-2xl font-bold leading-6 text-[#E26107];
    // will-change: transform;
    // backface-visibility: hidden;

    > span {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
    }
  }

  .description {
    @apply mt-3 text-sm text-gray opacity-90;
  }

  .link {
    @apply mt-3 block text-center text-xs text-white;
  }

  > div {
    @apply relative;
  }

  &.active {
    @apply bg-green bg-cover bg-no-repeat p-7 pt-0 shadow-2xl shadow-black;
    transform: scale(1.12);
    background-image: url('/images/bg-pattern.jpeg');
    background-position: center -120px;

    &::before {
      @apply absolute top-0 left-0 h-full w-full rounded-3xl;
      content: '';
      background-image: linear-gradient(
        0deg,
        rgb(219, 213, 213) 39%,
        rgba(255, 255, 255, 0.7) 100%
      );
    }

    .heading {
      @apply text-3xl leading-9 text-white;
    }
  }
}

@keyframes animationOpacity {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

.variations {
  @apply mt-4 grid grid-cols-4 gap-2;
  animation: animationOpacity 0.59s;

  > button {
    @apply rounded-sm border border-solid border-white bg-transparent py-0.5  px-1 text-center text-s font-semibold uppercase text-white transition-colors;

    &:hover {
      @apply bg-grey2 text-black;
    }

    &.active {
      @apply bg-white text-green opacity-90;
    }
  }
}
