.header {
  @apply mb-12 flex w-full items-center justify-between;
  position: fixed;
  height: 100px;
  width: 100%;
  background: #fff;
  z-index: 100;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}
