.home {
  @apply ml-auto w-2/3 text-right text-6xl font-black text-dark-blue;

  .image {
    left: 50%;
    transform: translate(-28%, 0%);
  }

  .blueBox {
    background: #052659; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #f87201,
      #052659
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #f87201,
      #09022c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: left;
    width: 100%;
    height: 160px;
    position: absolute;
    left: 0;
  }
}
